<h1>All my bookings: - <%= @user.email %></h1>

<ul>
  <% @bookings.each do |booking|%>
    <li>
      <%= booking.instrument.name %> | From: <%= booking.date_start %> To: <%= booking.date_end %> |
      <%= link_to "Cancel",
      booking_path(booking),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>

<%= link_to "See more instruments", instruments_path %>
<%= link_to "Home", root_path %>
