<div class="container">
  <h2>New review for <%= @instrument.name %></h2>
  <div class="row col-6 my-3">
    <%= simple_form_for [@instrument, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rate, collection: 0..5 %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
