<div class="title-container">
  <h2>Do you want to rent your instrument?</h2>
</div>

<div class="container my-5 center">

  <div class="row col-6 white">
    <h2>Create a new instrument</h2>
      <%= simple_form_for @instrument do |f| %>
        <%= f.input :name %>
        <%= f.association :instrument_category, label_method: :category, value_method: :id, include_blank: false %>
        <%= f.input :price, label: "Price per day", as: :float %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.button :submit, class: "btn btn-submit" %>
      <% end %>
  </div>
</div>
