<h2><%= @instrument.name %></h2>

<p><%= link_to "Click here to book this instrument", new_instrument_booking_path(@instrument)%></p>
<p><%= link_to "Click here to add a review for this instrument", new_instrument_review_path(@instrument)%></p>


<p><strong>Reviews</strong></p>

<ul class="list-group">
  <% @instrument.reviews.each do |review| %>
    <li><%= "⭐️" * review.rate %></li>
    <li><%= review.created_at.strftime("%d/%m/%Y") %></li>
    <li><%= review.content %></li>
    <li></li>
  <% end %>
</ul>
