
<div class="big-card">
  <div class="big-card-title">
    <h2><%= @instrument.name %></h2>
    <h4> ⭐️ <%= avg_review(@instrument)  %></h4>
  </div>

  <div class="div-img">
    <img class="i-img" src="https://thumbs.static-thomann.de/thumb/padthumb600x600/pics/bdb/130178/17090408_800.jpg" alt="instrument-img">
  </div>
  <div class="div-inst-description">
    <p><strong>Description: </strong><%= @instrument.description %></p>
    <p><strong>Category: </strong><%= @instrument.instrument_category.category %></p>
  </div>

  <div class="big-card-links">
    <%= link_to "Book", new_instrument_booking_path(@instrument), class: "book"%>
  </div>


  <div class="div-reviews">
    <div class="review-title">
      <h2><strong>Reviews</strong> (<%= @instrument.reviews.count %>)</h2>
      <h4> Average: ⭐️ <%= avg_review(@instrument)  %></h4>
    </div>
      <% @instrument.reviews.each do |review| %>
        <div class="individual-review">
          <div class="rating-box">
            <p> <%= review.user.email %></p>
            <p>Rating: <%= "⭐️" * review.rate %></p>
            <p><%= review.created_at.strftime("%d/%m/%Y") %></p>
          </div>
          <i><%= review.content %></i>
        </div>
      <% end %>
    <%# </ul> %>
        <%= link_to "Add a review", new_instrument_review_path(@instrument), class: "book review-btn"%>

  </div>


</div>
